@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

span {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blaсk-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Шрифты на бади*/
body {
  font-family: "Montserrat", sans-serif;
  color: var(--black-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.head_content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #047100;
  font-size: 15px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 20px;
    line-height: 1.5; /* 178.571% */
    text-transform: uppercase;
  }
}

.head_mob_btn {
  display: flex;
  background-color: white;
}
.head_mob_btn:hover {
  fill: #047100;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .svg_mob_menu {
    display: none;
  }
}

.head_nav_list {
  display: none;
}
@media screen and (min-width: 768px) {
  .head_nav_list {
    display: flex;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .head_nav_list {
    gap: 30px;
  }
}

.head_nav_link {
  color: #424242;
}
@media screen and (min-width: 768px) {
  .head_nav_link {
    font-size: 10px;
    font-weight: 500;
    line-height: 0.56; /* 178.571% */
    text-transform: uppercase;
  }
  .head_nav_link:hover {
    color: #047100;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .head_nav_link {
    font-size: 15px;
  }
}

.head_soc_list {
  display: none;
}
@media screen and (min-width: 768px) {
  .head_soc_list {
    display: flex;
    gap: 10px;
    margin-right: 0px;
  }
}

.head_soc_link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  background-color: rgb(22, 117, 1);
  align-items: center;
  justify-content: center;
  fill: rgb(255, 255, 255);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head_soc_link:hover, .head_soc_link:focus {
  background-color: rgb(255, 255, 255);
  fill: rgb(22, 117, 1);
  border: 1px solid rgb(22, 117, 1);
}

.hero {
  padding-top: 30px;
}

.hero_photo_box {
  margin: 0 auto 30px;
  border: 5px solid green;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../../images/main_photo.jpeg);
  background-size: contain;
}

.hero_title {
  margin-bottom: 30px;
  color: #000;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -0.68px;
}

.hero_text {
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.hero_list {
  margin-bottom: 60px;
}

.hero_item {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}/*# sourceMappingURL=main.css.map */