@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

span {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blaсk-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Шрифты на бади*/
body {
  font-family: "Montserrat", sans-serif;
  color: var(--black-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

:root {
  --green-color: rgba(0, 131, 33);
  --focus-color: rgba(0, 167, 42);
  --contact-color: rgba(67, 68, 85, 1);
}

.test {
  color: #00a72a;
}

.header {
  background-color: rgba(201, 235, 204, 0.357);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.header-main-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  font-size: 15px;
  font-weight: 800;
  line-height: calc(21 / 18);
  text-align: center;
  color: var(--green-color);
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-logo {
    font-size: 30px;
  }
}

.header-logo:hover, .header-logo:focus {
  color: var(--focus-color);
}

@media screen and (min-width: 1200px) {
  .head-cont__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}

.head-cont__item {
  color: var(--contact-color);
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-cont__item:hover, .head-cont__item:focus {
  color: var(--focus-color);
}

.head-cont__link {
  color: currentColor;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .head-cont__link {
    font-size: 25px;
  }
}

.header-icon-phone {
  fill: currentColor;
  margin-right: 5px;
}

.header-icon-mail {
  fill: currentColor;
  margin-right: 5px;
}

.hero {
  padding-top: 500px;
  padding-bottom: 20px;
  width: 100%;
  height: 600px;
  background-image: url(../../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin: auto;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--green-color);
  color: white;
  -webkit-transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-but:hover, .hero-but:focus {
  background-color: var(--focus-color);
}
/*# sourceMappingURL=main.css.map */