//                    header
.header {
  width: 100%;
  position: fixed;
  outline: 1px solid var(--outline-header);
  background: var(--background-color-header);
}
.head_content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   @media screen and (min-width: 768px) {
  //     justify-content: flex-start;
  //   }
}

//                        logo
.logo {
  color: var(--green-color);
  font-size: 15px;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    // margin-right: 10px;
    //   font-family: Stolzl;
    font-size: 20px;
    line-height: 1.5; /* 178.571% */
    text-transform: uppercase;
  }
}



//                    navigation
.head_nav_list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 20px;
  }
  @media screen and (min-width: 1200px) {
    gap: 30px;
  }
}
.head_nav_link {
  color: var(--grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
  @media screen and (min-width: 768px) {
    //   font-family: Stolzl;
    font-size: 10px;
    font-weight: 500;
    line-height: 0.56; /* 178.571% */
    text-transform: uppercase;
    
    &:hover,
    &:focus {
      color: var(--hover-color);
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 15px;
  }
}

//                 social icon section
.head_soc_list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 10px;
    margin-right: 0px;
  }
}
.head_soc_link {
  //   position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;

  background-color: var(--green-color);
  align-items: center;
  justify-content: center;
  fill: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color:var(--white-color);
    fill:var(--hover-color);
    border: 2px solid var(--hover-color);
  }
}


