.hero
{ padding-top: 400px;
  padding-bottom: 200px;
  background-image: url(../../images/hero-img.jpg);
  background-size: cover;

  @media screen and (min-width: 768px) {
     padding-top: 700px;
  }
}

.hero_btn{
  margin: 0 auto;
  display: block;
  height: 30px;
  border-radius: 10px;
  font-weight: 600;
  background-color: #047100;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus{
    background-color: white;
    color: #047100;
  }
}
