//          hero section
.hero {
  padding-top: 30px;
}

.tab_posit{

  @media screen and (min-width: 768px) {
    display: flex;
      position: relative;
  
    }
  }

//         hero photo

.hero_photo_box {
  display: flex;
  margin: 0 auto 30px;
  border: 5px solid green;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../../images/main_photo.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
  margin: 0px;
  }
}
// .hero_photo{
//   border-radius: 50%;
// }

//                hero title
// 

.hero_info_box{

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
  }
}
.hero_title {
  margin-bottom: 30px;
  color: #000;
  text-align: center;

  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.68px;
    @media screen and (min-width: 768px) {
       margin-right: 10px;
        text-align: start;
      }
    }

.hero_text {
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  @media screen and (min-width: 768px) {
      text-align: start;
      font-size: 15px;
    }
  }

.hero_list {
  margin-bottom: 60px;
  
}
.hero_item {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  @media screen and (min-width: 768px) {
    text-align: start;
      font-size: 13px;
    }
}

.video_text{
  position: absolute;
bottom: 90px;
right: 160px;
}
