.hero{
   padding-top: 300px;
  padding-bottom: 50px;
  background-image: url(././images/corporate-woman-businesswoman-holding-clipboard-with-documents-in-office-smiling-at-camera-white-bac_1258-124562.avif);
background-position: 70% 0;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
     padding-top: 300px;
     background-size: auto;
  }
   @media screen and (min-width: 1200px){
   padding-top: 300px;
   }
}


.hero_text_top{
  width: 300px;
  color: var(--grey-color);
font-size: 18px;
margin-bottom: 40px;
@media screen and (min-width: 768px){
  font-size: 25px;
   width: 350px;
}
@media screen and (min-width: 1200px){
margin-left: 100px;
width: 600px;

}
}

.hero_text_bot{
  width: 300px;
  color: var(--grey-color);
font-size: 18px;
margin-bottom: 40px;
@media screen and (min-width: 768px){
  width: 350px;
  font-size: 25px;

}
@media screen and (min-width: 1200px){
margin-left: 100px;
width: 600px;
font-size: 25px;
}
}
.hero_btn{
  margin: 0 auto;
  display: block;
  height: 40px;
  width: 250px;
  border-radius: 10px;
  font-weight: 600;
 
  background-color: var(--green-color);
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus{
    background-color:var(--hover-color2);
    color: var(--white-color);
  
  }
}
