//          hero section
.hero {
  padding-top: 30px;
}

//         hero photo

.hero_photo_box {
  margin: 0 auto 30px;
  border: 5px solid green;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../../images/main_photo.jpg);
  background-size: contain;
}

//                hero title
// 

.hero_title {
  margin-bottom: 30px;
  color: #000;
  text-align: center;

  font-size: 34px;
  font-weight: 500;
  letter-spacing: -0.68px;
}
.hero_text {
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
.hero_list {
  margin-bottom: 60px;
}
.hero_item {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
