


//                       svg moile menu open
.head_mob_btn {
    display: flex;
    background-color: inherit;
    @media screen and (min-width: 768px) {
        display: none;
      }
    &:hover,
    &:focus{
      fill: #047100;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .svg_mob_menu {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }


//                          mobil_menu
.mobil_menu_box{
    right: 0px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    
    position: fixed;
    
    width: 340px;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .mob_menu_close{
    background-color: inherit;
    align-items: center;
    display: flex;
    
    margin-left: auto;
    margin-right: 0;
    &:hover,
    &:focus{
      fill: #047100;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

.mob_menu_item + .mob_menu_item{
margin-top: 10px;
}


.mob_menu_link{
  color: #818181;

font-size: 14px;

line-height: 25px; /* 178.571% */
text-transform: uppercase;
}
  .mob_menu_social{
    margin-top: auto;
    margin-bottom: 0;
  }