
.program{
    padding-top: 100px;
}





.main_card_program{
   border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    width: 330px;
    box-shadow: 0px 0px 5px 0px rgb(209, 209, 209); 
@media screen and (min-width: 768px){
    display: flex;
    width: 730px;
    height: 200px;
}
@media screen and (min-width: 1200px){
    width: 1180px;
}
    &:hover{
        box-shadow: 0px 0px 20px 0px #aab60083;
    }
}


.program_photo{

    margin: 0 auto;
    width: 100px;
    height: auto;
    // width: 100%;
    // height: auto;
    margin-bottom: 16px;
    @media screen and (min-width: 1200px){
        width: 260px;
        margin-bottom: 0;
    }
}


.program_text_box{
    padding-left: 10px;
}
.program_name{
    margin-bottom: 16px;
    color: #000;
        text-align: center;

        font-size: 20px;
 
        line-height: 130%;
        /* 26px */
        @media screen and (min-width: 768px) {
           
                font-size: 26px;
                font-weight: 500;
                line-height: 130%;
        }
}


.program_text{

    color: #383838;
        text-align: center;
        font-size: 15px;
        line-height: 140%;
        @media screen and (min-width: 768px) {
                font-size: 18px;
                line-height: 140%;
            }
}



